html {
  scroll-behavior: smooth;
  font-size: 20px;
}

.heading {
  text-align: center;
}

.about {
  text-align: center;
}

.paragraph {
  word-wrap: break-word;
  width: 600px;
  margin: auto;
  padding: 10px;
}

img {
  height: 400px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  width: 150px;
  padding: 10px;
  float: right;
}

ul {
  list-style-type: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.footer {
  padding: 600px;
}

button {
  background-color:  beige;
  border: 2px solid black;
  font-size: 18px;
  cursor: pointer;
}

.active {
  background-color: #82b74b;
}
.dogs {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  grid-gap: 10px;
}
.golden {
  height: 400px;
  width: 400px;
}

.pitbull {
  height: 400px;
  width: 400px;
}

.puffball {
  height: 400px;
  width: 400px;
}

.cats {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  grid-gap: 10px;
}


.fluffy {
  height: 400px;
  width: 400px;
}

.naked {
  height: 400px;
  width: 400px;
}

.claws {
  height: 400px;
  width: 400px;
}

.exotic {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  grid-gap: 10px;
}

.parrot {
  height: 400px;
  width: 400px;
}

.linx {
  height: 400px;
  width: 400px;
}

.snake {
  height: 400px;
  width: 400px;
}

.contact {
  text-align: center;
}
